.NewComment {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: -webkit-fill-available;
  
}

.NewComment-text {
    margin-bottom: 10px;
}

.NewComment-textarea {
    margin-bottom: 10px;
    height: 60px;
    box-sizing: border-box;
}

.NewComment-textarea::placeholder{
    transform: translateY(-20px);
}

.NewComment-button {
    width: 84px;
    margin-bottom: 30px;
}